snippet	dfcc "Display flex, center center"
display: flex;
justify-content: center;
align-items: center;
endsnippet

snippet fd "flex-direction"
flex-direction: ${1:column};
endsnippet

snippet box "box-shadow"
box-shadow: ${1:0} ${2:0} ${3:10px} ${4:hsl(0, 0%, 0%)};
endsnippet
